p{
    font-size:16px ;
    flood-color: #222;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.header01{
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
}

.header01-list{
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #222;
}

a {
    color:black;
    text-decoration: none;
  }
.header01-item{
    margin: 30px;
    color: black;
    display: inline;
    text-decoration: none;
}

.container {
    margin: 0 auto;   
    max-width: 1200px;
    }

.cheese{
    position:relative;
  }

  .cheese .image{
    width: 1200px; ;
    height: auto;   
  }

  .cheese .p{
    position: absolute;
    width: auto;
    margin-bottom: 30px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:40Px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

 .cheese .p2{
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size:20Px;
        color: white;
  }

.headline{
text-align: center;
}

.headline.p{
    margin-bottom: 80px;
}
.英タイトル{
    font: size 24px;
    color: rgb(252, 206, 25);
    margin-top: 60px;
    margin-bottom: 30px;
}

.英タイトル2{
    text-align:center;
    font-size: 24px;
    color: black;
}

.英タイトル3{
    text-align:center;
    font-size: 24px;
    color: black;
    margin-top: 60px;
}

.日タイトル1{
    text-align:center;
    font-size: 24px;
    color: black;
    margin-bottom: 30px;
}

.余白{
    margin-top: 60px;
    margin-bottom: 60px;
}

.余白2{
    margin-top: 60px; 
}

.余白3{
    margin-top: 30px;
    margin-bottom: 70px;
}

.余白4{
    margin-top: 40px;
    margin-bottom: 40px;
}

.余白5{
    margin-top: 80px;
}

.flexbox{
    display:flex ; 
    justify-content: center;
    align-items: flex-start;
    width: 1200px;
}

.flexbox .image{
    display: flex;
    justify-content: center; 
    width: 50%;  
}

.card{
    width: 480px;
    height: 150px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.flexbox .title{
  margin-top: 120px;
  margin-bottom: 40px;
  margin-left: 50px;
  padding:0;
  font-size: 18px;
  resize: none;
}

.flexbox .text{
    margin: 40px 50px 120px 50px
}

.flexbox2{
    display:flex ; 
    width: 710px;   
    height: 450px;
}
.flexbox2 .text{
    display: flex;
    margin: 40px 50px 120px 50px
}

.card{
    width: 480Px;
    height: 480px;
    display: flex;
    justify-content: center;
    margin: 40px 120 50 50;
}

.newslist{
  display: flex;
  justify-content: center;
}

.newslist .item{
    width: 300px;
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
}

.newslist .item .image{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.newslist .item .body{
    padding: 20px;
    }

.newslist .image{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.newslist .title{
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 16px;}

.newslist .説明{
  margin-bottom: 60px;
  padding: 0;
  font-size: 16px;
}
.newslist .a{
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: black;
}

.hover-all {
    position: relative;
    >a {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      text-decoration: none;
      z-index: 9;
      top: 0;
      left: 0;}
    }
  
    .btn{
    display: block;
	position: center;
	width: 300px;
    height: 60px;
    margin:  0 auto;
	text-align:center;
    line-height: 60px;
    font-size: 18px;
	text-decoration: none;
    color: #fff;
	background: #ffd61f;;
    } 


    .map{
      width:100% ;
      height: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      align-items: center;
    }

    .background{
        background-color:#fafafa ;
    }

    .table{
         position: center;
         margin:  0 auto;
         font-size: 16px;
         text-align: left;   
    }
    .th{
        font-weight:  normal;  
        height: 50px; 
        width: 150px;   
    }

    .contact-form{
        width:568px ;
    }

.aima{
    margin: 60px 0;
    padding: 1px;
    background-color:#edecec
}

/* コンタクトフォーム↓↓ */
.contact{
    width: 640px;/*横幅*/
    margin: 0 auto;/*中央寄せ*/
    padding: auto;
    
}

 .contact-table {
    align-items: center;
    width: 640px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-collapse: collapse;
      }

.contact-item,.contact-body {
    padding: auto;
    border: 1px solid #bfbfbf;
    border-right: none;
    font-size: 16px;
}

.noborder{
    border-left:0px
}

.contact-item {
    text-align:left; /* テキスト左寄せ */
    width: 182px; 
    padding-right: 46px;
    padding-left: 16px;
    font-size: 16px;
    border-left:0px
}
.contact-body {
    width: 400px; /* 横幅70%指定（白背景色部分） */
    padding: 8px;
  }

  .form-text {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}

.contact-skill {
    display: block;
}

.contact-skill + .contact-skill {
    margin-top: 24px;
}

.contact-skill-txt {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}

.form-select {
    width: 320px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;  
}


.form-textarea {
    width: 300px;
    padding: 10px;
    height: 100px;
    border: 1px solid #bfbfbf;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  footer {
    background: #707070;
    color: #ffffff;
    position: sticky;
    text-align: center;
    padding: 30px;
    margin-top: 140px;
  }